<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_demo_0518">

    <!-- 权限      . -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ThActivity" />
        <activity android:name=".DoorActivity" />
        <activity android:name=".SelectiveSensorActivity" />
        <activity android:name=".TempAndHumidityActivity" />
        <activity android:name=".SocketActivity" />
        <activity android:name=".InfraredActivity" />
        <activity android:name=".ListDemoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Remote_Activity" />
    </application>

</manifest>